
/*CSS RESET*/
html, body, div, container, ul, li, a,{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font: inherit;
  vertical-align: baseline;
  min-width: 0px;
  letter-spacing: 1px;
}
.body{
  margin: 0px;
}
.wrapper{
  position:absolute;
  text-align: center;
  top: calc(50% - 400px);
  left: calc(50% - 350px);
}
.body1{
  position: absolute;
  left: calc(50% - 68px);
  bottom: calc(50% - 200px);
  max-width: 210px;
  height: 256px;
  background-color: slategrey;
  text align: center;
  padding: 12px;
  font-size: 14px;
  border-radius: 0px 65px;
}
.body2{
  position: absolute;
  left: calc(50% - 68px);
  bottom: calc(50% - 100px);
  max-width: 210px;
  height: 256px;
  background-color: darkslategrey;
  text align: center;
  padding: 12px;
  font-size: 14px;
  border-radius: 0px 65px;
}

.intro{
  position: relative;
  text-align: left;
  color: black;
  top: 40px;
}
.bigF{
  position: relative;
  margin: auto;
  height: 700px;
  width: 700px;
  z-index: 5;
}
.Fack{
  position: absolute;
  font-size: 25px;
  left: calc(50% - 120px);
  bottom: calc(50% - 325px);
  opacity: 0;
}
.Fack .go{
  opacity: 1;
}
