/*CSS RESET*/
html, body, div, ul, li, a,{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font: inherit;
  vertical-align: baseline;
  min-width: 0px;
  letter-spacing: 1px;
}

body{
  background-color: black;
}




.borderbox{
  border: solid 1px slategrey;
  position: absolute;
  color: white;
  left: 15%;
  top: 12%;
  width:70vw;
  height:70vh;
  text-align: center;
}

.insidecircle{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  left: calc(50% - 250px);
  top: calc(50% - 272px);
}

.insidebox{
  position: absolute;
  border: solid 1px slategrey;
  width: 500px;
  height: 500px;
  left: calc(50% - 250px);
  top: calc(50% - 272px);
  transform: rotate(45deg);
  animation-name: main;
  animation-duration: 3.5s;
  animation-direction: alternate;
}
@keyframes main {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.circle1{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: calc(50% - 330px);
  top: calc(50% - 33px);
  transition: ease all .3s;
  cursor: pointer;
  opacity: 0;
}
.circle1:hover{
  background-color: lightslategrey;
}

.circle2{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: calc(50% + 311px);
  top: calc(50% - 33px);
  transition: ease all .3s;
  cursor: pointer;
  opacity: 0;
}
.circle2:hover{
  background-color: lightslategrey;
}
.circle3{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);
  top: calc(50% - 345px);
  transition: ease all .3s;
  cursor: pointer;
  opacity: 0;
}
.circle3:hover{
  background-color: lightslategrey;
}
.circle4{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);
  top: calc(50% + 266px);
  transition: ease all .3s;
  cursor: pointer;
  opacity: 0;
}
.circle4:hover{
  background-color: lightslategrey;
}
.active{
  opacity: 1;
}

.content1, .content2, .content3, .content4{
font-family: 'Poiret One', cursive;
position: absolute;
color: grey;
width: 150px;
height: 150px;
top: calc(50% - 60px);
left: calc(50% - 75px);
text-align: center;
opacity: 0;
transition: ease all 1s;
font-size: 18px;
}

.content5{
  position: absolute;
  color: grey;
  top: calc(50% - 94px);
  left: calc(50% - 109px);
  text-align: center;
  opacity: 1;
  transition: ease all 1s;
  font-size: 80px;
  font-family: 'Bad Script', cursive;
}


.Links{
  position: absolute;
  left: calc(50% + 154px);
  top: calc(50% + 300px);
  display:flex;
  flex-direction: row;
  margin: 0px auto;
  opacity: .6;
}
.LinkHome, .LinkGit, .LinkGitHub{
  padding: 5px;
  padding-bottom: 0px;
  margin: 10px;
  transition: all ease .1s;
  cursor: pointer;
}
.LinkHome:hover, .LinkGit:hover, .LinkGitHub:hover{
  transform: scale(1.15);
  background-color: slategrey;
  border-radius: 10px;
}
