/*CSS RESET*/
html, body, div, ul, li, a,{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font: inherit;
  vertical-align: baseline;
  min-width: 0px;
  letter-spacing: 1px;
}

body{
  background-color: black;
}

.borderbox{
  border: solid 1px slategrey;
  position: absolute;
  color: white;
  left: 15%;
  top: 12%;
  width:70vw;
  height:70vh;
  text-align: center;
}

.insidecircle{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  left: calc(50% - 250px);
  top: calc(50% - 272px);
}

.insidebox{
  position: absolute;
  border: solid 1px slategrey;
  width: 500px;
  height: 500px;
  left: calc(50% - 250px);
  top: calc(50% - 272px);
  transform: rotate(45deg);
}

.circle1{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: calc(50% - 330px);
  top: calc(50% - 33px);
  transition: ease all .3s;
  cursor: pointer;
}
.circle1:hover{
  background-color: lightslategrey;
}
.circle2{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: calc(50% + 311px);
  top: calc(50% - 33px);
  transition: ease all .3s;
  cursor: pointer;
}
.circle2:hover{
  background-color: lightslategrey;
}
.circle3{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);
  top: calc(50% - 345px);
  transition: ease all .3s;
  cursor: pointer;
}
.circle3:hover{
  background-color: lightslategrey;
}
.circle4{
  position: absolute;
  border: solid 1px slategrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);
  top: calc(50% + 266px);
  transition: ease all .3s;
  cursor: pointer;
}
.circle4:hover{
  background-color: lightslategrey;
}
